header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: aquamarine;
  padding-left: 30px;
  flex-grow: 1;
}

nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*content*/

.news {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.phish,
.fall,
.cat,
.camera {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  display: flex;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-left: 16px;
}

.phish  {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  justify-content: start;
  font-size: 40px;
  margin-top: 0;
}

.camera {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  text-align: center;
}

.cat {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  text-align: center;
}

.fall {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  text-align: center;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.news-bites h3 {
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  }

/*footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
