header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.logo {
  color: aquamarine;
  display: flex;
  align-items: center;
}

nav span {
  display: inline-block;
}
